{% extends "my_FIRST_APP/home.html" %}
{% load static %}

{% block content %} 
<head>
    {% load static %}
    <script src="{% static '/index.js' %}" defer></script>
</head>
<div class="flex" style="margin-top: 50%;">
    <form>
        <div class="d-flex justify-content-center">
            <div class="flex-shrink-0">
                <!--<form action="{% url 'closest' %}" method="POST">-->
                <form action="closest/" method="POST"></form>
                    {% csrf_token%}
                    <input type="text" name="lat" id="lat" style="display:none ;">
                    <input type="text" name="long" id="long" style="display: none;">
                    <button type="submit" class="btn btn-primary btn-lg"  style="background-color:rgb(39, 41, 46);">Find your DEA</button>
                </form>
            </div>
        </div>
    </form>
</div>
{% endblock %}

