{% extends 'my_FIRST_APP/home.html' %}

{% block content %}
<head>
    {% load static %}
    <script src="{% static '/index.js' %}" defer></script>
</head>
<div class="d-grid gap-2 col-6 mx-auto" style="padding:20%;">
    <form action="/closest/" method="POST">
        {% csrf_token%}
        <input type="text" name="lat" id="lat" style="display:none ;">
        <input type="text" name="long" id="long" style="display: none;">
        <button class="btn btn-primary" type="submit">FIND YOUR DEA</button>
    </form>
</div>
{% endblock %}
